// Name of your organism
params.organism = "Synechococcus_sp_PCC_7002" // Example: "Escherichia_coli"

// Whether to re-run execution if the result was already found
params.force = false

// Defaults for organism directory and metadata file
params.metadata = "Synechococcus_sp_PCC_7002/metadata/Synechococcus_sp_PCC_7002.tsv" // Must be a tab-separated values (tsv) file
params.sequence_dir = "Synechococcus_sp_PCC_7002/sequence_files" // Must contain a genome.gff3 and genome.fasta file
